
// Env variable data

    SetEnv USERNAME "jlgarness"
    SetEnv PASSWORD "avSCnfZGpFvzUp1lQcoEoheYY9J6yoQA"
    SetEnv DBNAME "quotesdb_7wk4"
    SetEnv HOST "dpg-cgd5jqu4dad6omi74mo0-a.oregon-postgres.render.com"
    SetEnv PORT "5432"